# Python List, Tuples, Set & Dictionary

There are four collection data types in the Python programming language:

- **List** is a collection which is **ordered and changeable (mutable). Allows duplicate members**.
- **Tuple** is a collection which is **ordered and unchangeable (immutable). Allows duplicate members**.
- **Set** is a collection which is **unordered and unindexed. No duplicate members**.
- **Dictionary** is a collection which is **ordered and changeable. No duplicate members**.

## List

- Lists are used to store multiple items in a single variable.
- Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.
- Lists are created using **square brackets**.
- List items are **ordered, changeable, and allow duplicate values**.

In [15]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
list2 = [1, 2, 3, 4, 5 ]
list3 = [1, 3.4, 'a string', True]
print(list1)
print(list2)
print(list3)
print(len(list3))
print(type(list3))

['mobil', 'motor', 'becak', 'sepeda', 'pesawat', 'kapal laut']
[1, 2, 3, 4, 5]
[1, 3.4, 'a string', True]
4
<class 'list'>

### 1. Accessing Values

In [20]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
print(list1[0])
print(list1[1:2]) #start index 1, end di index 2 tidak included
print(list1[1:3]) #start index 1, end di index 3 tidak included
print(list1[1:6:2]) #start index 1, end di index 6 tidak included, stepnya 2 (index + 2)
print(list1[-1]) #start dari belakang (index -1)
print(list1[-4:-2]) #start index -4, end index -2 tidak included (-2-1= -3)
print(list1[-6:-2:2])

mobil
['motor']
['motor', 'becak']
['motor', 'sepeda', 'kapal laut']
kapal laut
['becak', 'sepeda']
['mobil', 'becak']

In [21]:
if "sepeda" in list1:
  print("Ya, 'sepeda' adalah dalam list1")

Ya, 'sepeda' adalah dalam list1

### 2. Change Item Value

In [11]:
list1 = ["mobil", "motor", "becak", "sepeda", "pesawat", "kapal laut"]
list1[1] = "taxi" #ubah index 1
print(list1)

['mobil', 'taxi', 'becak', 'sepeda', 'pesawat', 'kapal laut']

In [12]:
list1[1:3] = ["gojek", "grab"] # 2 index jadi 2 nilai
print(list1)

['mobil', 'gojek', 'grab', 'sepeda', 'pesawat', 'kapal laut']

In [13]:
list1[1:3] = ["grab2"] # 2 index jadi 1 nilai saja
print(list1)

['mobil', 'grab2', 'sepeda', 'pesawat', 'kapal laut']

### 3. Add List Items

In [14]:
list1.insert(1, "gojek") # tambahkan nilai di spesifik index
print(list1)

['mobil', 'gojek', 'grab2', 'sepeda', 'pesawat', 'kapal laut']

In [15]:
list1.append("taxi") #tambahkan di akhir list
print(list1)

['mobil', 'gojek', 'grab2', 'sepeda', 'pesawat', 'kapal laut', 'taxi']

In [1]:
#To append elements from another list to the current list, use the extend() method.
thislist = ["apple", "banana", "cherry"]
tropical = ("mango", "pineapple", "papaya")
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

### 4. Remove Specified Item

In [35]:
thislist = ["apple", "banana", "cherry", "mango"]
thislist.remove("banana") #hapus spesifik value
print(thislist)

thislist.pop(1) #hapus spesifik index
print(thislist)

thislist.pop() #hapus last index (index terakhir)
print(thislist)

['apple', 'cherry', 'mango']
['apple', 'mango']
['apple']

In [2]:
thislist = ["apple", "banana", "cherry", "mango"]
del thislist[0] #delete spesifik index
print(thislist)

['banana', 'cherry', 'mango']

In [4]:
del thislist #delete seluruh list
print(thislist)

NameError: name 'thislist' is not defined

In [6]:
thislist = ["apple", "banana", "cherry", "mango"]
thislist.clear() #hapus nilai dalam list
print(thislist)

[]

### 5. Sort, Sorted & Reverse Lists

In [2]:
#angka => hruf besar => kecil
a = ['a', 'B', 'c', '2']
print(min(a))
print(max(a))

2
c

In [39]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [43]:
#urutkan nilai dari angka => huruf besar => huruf kecil
thislist = ["banana", "Orange", "Kiwi", "cherry", '2', '1'] #angka harus di string agar tidak error
thislist.sort()
print(thislist)

['1', '2', 'Kiwi', 'Orange', 'banana', 'cherry']

In [46]:
thislist = ["banana", "Orange", "Kiwi", "cherry", "mango"]
thislist.sort(key = str.lower) #menggunakan str.lower agar tidak case sensitive
print(thislist)

['banana', 'cherry', 'Kiwi', 'mango', 'Orange']

In [5]:
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a) #melakukan sort ke variable baru dan variable asli tidak akan berpengaruh

print(a)
print(x)

('b', 'g', 'a', 'd', 'f', 'c', 'h', 'e')
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [8]:
thislist1 = [100, 50, 65, 82, 23]
thislist2 = ["banana", "Orange", "Kiwi", "cherry"]

thislist1.sort(reverse = True) #urutan dari terbesar
thislist2.sort(reverse = True) #reverse dari huruf kecil dulu + urutan abjad dari belakang

print(thislist1)
print(thislist2)

[100, 82, 65, 50, 23]
['cherry', 'banana', 'Orange', 'Kiwi']

In [47]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse() #membalik urutan dari belakang
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [48]:
# Customize Sort Function
# def myfunc(n):
#   return abs(n - 50) #abs adalah nilai absolut

# thislist = [100, 50, 65, 82, 23]
# thislist.sort(key = myfunc)
# print(thislist)

[50, 65, 23, 82, 100]

### 6. Copy

In [1]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy() # copy tidak akan mempengaruhi list aslinya
mylist[1] = 'mango'
print(mylist)
print(thislist)

['apple', 'mango', 'cherry']
['apple', 'banana', 'cherry']

In [55]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist # jika langsung = dan tidak menggunakan copy, akan berpengaruh ke list aslinya
mylist[1] = 'mango'

print(mylist)
print(thislist)

['apple', 'mango', 'cherry']
['apple', 'mango', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist) #mengcopy list dengan built-in method list()
print(mylist)

['apple', 'banana', 'cherry']

### 7. Join Lists

In [1]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [17]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)
  # print(list1)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [3]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

## TUPLE

- A tuple is a collection which is ordered and unchangeable.
- Tuples are written with round brackets.

In [9]:
thistuple = ("apple", "banana", "cherry", "mango")
print(thistuple)

('apple', 'banana', 'cherry', 'mango')

### 1. Access Tuple Items

In [14]:
thistuple = ("apple", "banana", "cherry", "mango")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[2:5])
print(thistuple[:4])
print(thistuple[1:3:1])

banana
mango
('cherry', 'mango')
('apple', 'banana', 'cherry', 'mango')
('banana', 'cherry')

### 2. Update Tuples

- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [19]:
x = ("apple", "banana", "cherry")
print(type(x))

y = list(x) #cara jika ingin mengubah isi tuple adalah dengan mengubahnya ke list

y[1] = "kiwi" #ubah index 1 dengan kiwi
x = tuple(y)

print(x)

<class 'tuple'>
<class 'list'>
('apple', 'kiwi', 'cherry')

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [21]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

### 3. Remove Items

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [23]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

### 4. Join

In [25]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [26]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

### 5. Count & Index

In [29]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5) #hitung jumlah angka 5
y = thistuple.index(7) #angka 7 ada di index?

print(x)
print(y)

2
2

## SET

- A set is a collection which is both **unordered and unindexed**.

- Sets are written with curly brackets.

In [24]:
myset = {"apple", "banana", "cherry", "mango"}

print(type(myset))
print(len(myset))
print(myset)

<class 'set'>
4
{'mango', 'cherry', 'banana', 'apple'}

### Access Items

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [25]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x) #hasil output bisa berubah-burubah karena unordered

cherry
banana
apple

In [33]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

### Add Items

In [34]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [35]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'pineapple', 'cherry', 'apple', 'mango'}

### Remove Item

To remove an item in a set, use the remove(), or the discard() method.

In [3]:
thisset = {"apple", "banana", "cherry", "mango", "papaya"}

thisset.remove("banana1") #jika tidak ada banana maka akan error

print(thisset)

KeyError: 'banana1'

In [5]:
thisset = {"apple", "banana", "cherry", "mango", "papaya"}

thisset.discard("banana1") #jika tidak ada banana maka tidak akan error

print(thisset)

{'papaya', 'mango', 'apple', 'cherry', 'banana'}

In [43]:
thisset = {"apple", "banana", "cherry", "papaya"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'papaya', 'banana', 'apple'}

**Note:** Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [44]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [46]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

### JOIN

In [50]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2) #masukan nilai ke set baru
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [51]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2) #masukan nilai ke set1
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

In [52]:
#The intersection_update() method will keep only the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) #hanya ambil item yang kembar

print(x)

{'apple'}

In [59]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #jika dimasukkan ke variable baru

print(z)

{'apple'}

In [57]:
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #hanya ambil item yang tidak kembar

print(x)

{'banana', 'google', 'microsoft', 'cherry'}

In [58]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #jika dimasukan ke variable baru

print(z)

{'banana', 'google', 'microsoft', 'cherry'}

## DICTIONARIES

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

- As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered

In [60]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3

In [1]:
#create dictionary
# Definition of countries and capital
countries = ['spain', 'france', 'germany', 'norway']
capitals = ['madrid', 'paris', 'berlin', 'oslo']

# From string in countries and capitals, create dictionary europe
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin', 'norway':'oslo' }

# Print europe
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo'}

In [2]:
# Get index of 'germany': ind_ger
ind_ger = countries.index('germany')

# Use ind_ger to print out capital of Germany
print(capitals[ind_ger])

berlin

### Access Items

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}
x = thisdict["model"]
y = thisdict.get("model")

print(x)
print(y)

Mustang
Mustang

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}

x = thisdict.keys() #untuk mendapatkan keys

print(x)

dict_keys(['brand', 'model', 'year'])

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values() #untuk mendapatkan values

print(x)

dict_values(['Ford', 'Mustang', 1964])

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}

x = thisdict.items() #mendapatkan items (keys dan values)

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2000)])

In [68]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

### Change Values

In [27]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [70]:
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Adding Items

In [71]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red" #tambahkan key dan value
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [72]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### Removing Items

In [74]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}
thisdict.pop("model") #hapus item tertentu
print(thisdict)

{'brand': 'Ford', 'year': 2000}

In [75]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2000
}
thisdict.popitem() #hapus item terakhir
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [78]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [76]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 2002
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 2002}

In [77]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

### Copy a Dictionary

In [79]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [80]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### Nested Dictionaries

In [28]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people[1]['name'])
print(people[1]['age'])
print(people[1]['sex'])

print(people[2]['name'])
print(people[2]['age'])
print(people[2]['sex'])

John
27
Male
Marie
22
Female

In [6]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[3] = {}

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people)

print(people[3])

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}
{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}

In [ ]:
# Dictionary of dictionaries
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }


# Print out the capital of France
print(europe['france']['capital'])

# Create sub-dictionary data
data = { 'capital':'rome', 'population':59.83 }

# Add data to europe under key 'italy'
europe['italy'] = data

# Print europe
print(europe)