# Penggunaan print() & type()

In [1]:
print('hello irfan')
print("hello irfan")
print("hello irfan", "syah")
print("hello irfan" + " syah")
print('''sardi
irfansyah
Jakarta ''')

hello irfan
hello irfan
hello irfan syah
hello irfan syah
sardi
irfansyah
Jakarta

In [3]:
print('sardi' + '2.2')

sardi2.2

In [2]:
print('sardi irfansyah', 2)

sardi irfansyah 2

In [5]:
print("hello
irfansyah")

SyntaxError: EOL while scanning string literal (<ipython-input-5-2de23595db20>, line 1)

In [5]:
print('''hallo 
sardi''')

hallo
sardi

In [4]:
print("""hallo 
sardi""")

hallo
sardi

In [3]:
#print('hello')

In [ ]:
ctrl + /

In [5]:
#print('sardi' +2) #akan error
print('sardi', 2)
# print('2' + 3) #akan error
print(2+2)
print(2+2.2)

sardi 2
4
4.2

**type() untuk cek type data**

In [8]:
print(bool())

False

In [24]:
print(type(2.2))
print(type(3))
print(type('2'))
print(type('irfan'))
print(bool("Hello")) #Any string is True, except empty strings.
print(bool(15)) #Any number is True, except 0.
print(bool(["apple", "cherry", "banana"])) # list
print(type(1j)) # bilangan complex
print(type(35e3)) # e untuk 10 pangkat ?

<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
True
True
True
<class 'complex'>
<class 'float'>

In [25]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))

False
False
False
False
False

# casting & comments

In [11]:
x= str(2)
print(type(x))

<class 'str'>

In [3]:
x = int(2)
y = int(3.8)
z = int("4") 
k= round(3.8) #untuk menjadikan bilangan bulat
print(x, y, z, k)

2 3 4 4

In [6]:
x = 2
z= '2' #string

print(int(z) + x)

4

In [21]:
x= 2.2
y= 2

z= x + y
print(x)
print(z)

2.2
4.2

In [11]:
x = round(5.76543, 2) #setting jumlah digit setelah koma
# y = float(5.76543, 2) #tidak bisa penggunaan float seperti ini
print(x)
# print(y)

5.77

In [27]:
x = float(2)
y = float(3.8)
z = float("4") 
print(x, y, z)

2.0 3.8 4.0

https://code.visualstudio.com/docs/python/jupyter-support-py

https://www.codegrepper.com/code-examples/whatever/replace+block+of+code+vscode

In [13]:
x = str(1)
y = str(2.8)
z = str("3") 
print(x, y, z)

1 2.8 3

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [29]:
'''comment
comment'''
#comment
print('in adalah uji coba comment')

in adalah uji coba comment

In [14]:
# hitung luas tanah
panjang= 20
lebar = 30

print(panjang * lebar)

600

In [15]:
panjang * lebar

600

# Variable

Variables are containers for storing data values.

A variable is created the moment you first assign a value to it.

In [ ]:
3.222222222222222222

In [30]:
x = 32.2
y = int(31)
z = 33

print(type(x))
print(y)
print(float(z))

<class 'float'>
31
33.0

**Case-Sensitive**

In [19]:
nama = 'sardi irfansyah'
print(Nama) #akan error

NameError: name 'Nama' is not defined

In [ ]:
Print(nama) #akan error

**Variable Names**

- A variable name must start with a letter or the underscore character
- A variable name **cannot start with a number**
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
var1= 'irfan'
Var2= 'irfansyah'
_Var3= 'sardi'

In [ ]:
# 4Var4 ='sardi' # tidak boleh & akan error

In [1]:
x, y, z = "sardi", "irfan", "ihsan"
print(x)
print(y)
print(z)

sardi
irfan
ihsan

In [23]:
x = y = z = "irfan"
print(x)
print(y)
print(z)

irfan
irfan
irfan

In [26]:
x= 20
x

20

**Multi Words Variable Names**

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

In [ ]:
#Camel Case
myVariableName = "Irfan"

#Pascal Case
MyVariableName = "Irfan"

#Snake Case
my_variable_name = "Irfan"

# String (slicing, modify, format, escape & methods)

**SLICING**

slicing berdasarkan index, **index dimulai dari angka 0**

In [30]:
a = "sardi irfansyah"
print(a[4]) # akses string
print(len(a)) #mengetahui panjang atau length dari string
print("irfan2" in a) #check string
print("kenshin" not in a)

i
15
False
True

In [34]:
print(a[:])

sardi irfansyah

In [32]:
print(a[2:5]) # slicing string dari index 2 sampai 4
print(a[:8]) # dari awal sampai index 7
print(a[2:]) # dari index 2 sampai akhir
print(a[2:10:2]) # dari index 2 sampai 9, step 2 (penambahan 2 setiap index)

rdi
sardi ir
rdi irfansyah
riif

In [ ]:
print(a[-1]) #index paling akhir
print(a[-5:-2]) # slicing string dari index -5 sampai -3
print(a[:-8]) # dari awal sampai index -9
print(a[-4:]) # dari index -4 sampai akhir
print(a[-10:-5:2]) # dari index -10 sampai -6, step 2 (penambahan 2 setiap index)

h
nsy
sardi i
syah
 ra

In [30]:
print(a.upper()) #modify string ke upper case
print(a.lower()) #modify string ke lower case

b = ' ada spasi awal, dan akhir '
print(b.strip()) #remove white space di awal dan akhir
print(b.replace("d", "j"))
print(b.split(",")) #split string ke dalam substring dgn separator sebagai pembaginya
print(b.split(" "))

SARDI IRFANSYAH
sardi irfansyah
ada spasi awal, dan akhir
 aja spasi awal, jan akhir
[' ada spasi awal', ' dan akhir ']
['', 'ada', 'spasi', 'awal,', 'dan', 'akhir', '']

Note: 
- Penggunaan modify diatas tidak akan mempengaruhi variable aslinya. 
- Apabila kita print variable aslinya saja maka variablenya akan tetap seperti awal

**FORMAT STRING**

In [ ]:
#penggunaan string format
umur = 25
txt = "Hallo, umur saya adalah {}"
print(txt.format(umur))

Hallo, umur saya adalah 25

In [ ]:
umur = 25
txt = "Hallo, umur saya adalah {}"
print(txt.format(umur))

In [36]:
nama = 'irfansyah'
umur = 25
txt = "Hallo, nama saya {}, umur saya adalah {}"
print(txt.format(nama,umur)) # cetak berdasarkan urutan arguments

Hallo, nama saya 25, umur saya adalah 25

In [34]:
umur = 25
nama = 'irfansyah'

txt = "Hallo, nama saya {1}, umur saya adalah {0}"
print(txt.format(umur, nama)) # cetak berdasarkan urutan index
# print(txt.format(index0, index1))

Hallo, nama saya irfansyah, umur saya adalah 25

In [39]:
txt = "harganya hanya {price:.6f} rupiah!" #jadika ke float
print(txt.format(price = 49000))

harganya hanya 49000.000000 rupiah!

**Referensi tambahan:** 
- [link 1 (Formatting Types)](https://www.w3schools.com/python/ref_string_format.asp)
- [link 2](https://www.learnpython.org/en/String_Formatting)
- [link 3](https://realpython.com/python-string-formatting/#3-string-interpolation-f-strings-python-36)

In [17]:
nama = "irfan"
umur = 25
tinggi = 168.5
print("%s berumur %d tahun, memiliki tinggi %.2f" % (nama, umur, tinggi)) # dengan %s

irfan berumur 25 tahun, memiliki tinggi 168.50

In [ ]:
name ='irfansyah'
print(f'Hello, {name}') # dengan f' string (Python 3.6+)

Hello, irfansyah

**ESCAPE (penggunaan backslash)**

In [40]:
txt = "Hallo, "sardi irfansyah", apa kabar? " #akan error

SyntaxError: invalid syntax (<ipython-input-40-200eb0b89a02>, line 1)

In [38]:
txt = "Hallo, \"sardi irfansyah\", apa kabar? " #menggunakan escape character \ (backslash) 
print(txt)

Hallo, "sardi irfansyah", apa kabar?

In [44]:
txt3 = "Hello\nWorld!" #new line
print(txt3)

Hello
World!

In [ ]:
txt1 = 'It\'s alright.' #menggunakan ecape character untuk single quote
txt2 = "This will insert one \\ (backslash)."
txt3 = "Hello\nWorld!" #new line
txt4 = "Hello \bWorld!" #hapus satu character (backspace)
txt5 = "Hello\tWorld!" #tab

print(txt1) 
print(txt2) 
print(txt3) 
print(txt4) 
print(txt5)

It's alright.
This will insert one \ (backslash).
Hello
World!
HelloWorld!
Hello	World!

**STRING METHODS**

Referensi tambahan : [link 1](https://www.w3schools.com/python/python_strings_methods.asp)

<img src='./images/method.png'>

**1. Count()**

In [ ]:
txt = "Saya suka semangka, semangka itu enak"
x = txt.count("semangka") # menghitung jumlah string
y = txt.count("semangka", 2, 23) # (value, start, end), default index start=0 

print(x)
print(y)

2
1

**3. endswith() & starstwith**

In [37]:
txt = "Hello, welcome to my world."
x = txt.endswith(".") #return true jika string diakhiri tanda titik
y = txt.endswith("my world.")
z = txt.endswith("my world.", 3, 25)
k = txt.startswith("wel", 7, 20) #return true jika string di awali wel di index ke-7

print(x)
print(y)
print(len(txt))
print(z)
print(k)

True
True
27
False
True

**4. find() & index()**

- The find() method finds the first occurrence of the specified value.
- The find() method returns **-1** if the value is **not found**.

In [45]:
txt = "Hello, selamat hari kemerdekaan."
x = txt.find("e")
y = txt.find("e", 5, 10)

print(x)
print(y)
print(txt.find("j")) #output -1

1
8
-1

In [ ]:
print(txt.find("c")) #mirip index tapi tidak akan error jika 'c' tidak ada
print(txt.index("c")) #akan error, karena berbeda dengan find

-1

ValueError: substring not found

**5. isalnum()**

The isalnum() method returns **True** if **all the characters** are **alphanumeric**, meaning alphabet letter (a-z) and numbers (0-9). 

Example of characters that are not alphanumeric: (space)!#%&? etc.

In [ ]:
print(txt.isalnum())

False

**6. join()**

In [ ]:
myTuple = ("John", "Jack", "Nacky")
x = "#".join(myTuple) #Join semua item di tuple dengan hash chacter sebagai separtornya

print(x)

John#Jack#Nacky

In [32]:
myDict = {"name": "Irfan", "city": "Jakarta"}
mySeparator = "TEST"

x = mySeparator.join(myDict)
print(x)

nameTESTcity